<p>
    <mat-toolbar color="primary" class="mat-elevation-z2">
        <div>
            <button mat-icon-button class="example-icon" [routerLink]="['/header']" aria-label="Example icon-button with menu icon">
                                  <mat-icon>favorite</mat-icon>
                                </button>
            <span>My App</span>
        </div>
        <span class="example-spacer"></span>
        <div class="mat-button-blog" [routerLink]="['blog']" routerLinkActive="active" style="cursor:pointer">
            <button mat-mini-fab color="accent">
                        <i class="material-icons footer-icon ">contact_mail</i>
                        
                      </button> Write New
        </div>
        <div>
            <div mat-mini-fab [matMenuTriggerFor]="menu" class="banner-userprofile" [fxHide.lt-md]="true" [fxShow]="true">
                <!-- <img src="{{globals.userDetails?.avatar||defaultuserlogo}}" class="banner-userprofile userprofile-border"> -->
                <img src='https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png' class="banner-userprofile userprofile-border">
            </div>
            <div mat-mini-fab class="banner-userprofile" [fxShow]="true">
                <!-- <img src='https://picsum.photos/200' class="banner-userprofile userprofile-border"> -->
            </div>
            <mat-menu #menu="matMenu" class="userMenu subMenuPosition submenuStyle">
                <mat-card class="usermenu-card ">
                    <div fxLayout="column" style="padding:10px 10px 0px 10px;min-width: 300px;">
                        <div fxLayout="row">
                            <div fxFlex="25">
                                <!-- <img src="{{globals.userDetails?.avatar||defaultuserlogo}}" class="usermenu-card-image"> -->
                            </div>
                            <div fxFlex="70" class="usermenu-card-header">
                                <mat-card-header>
                                    <mat-card-title class="usermenu-card-header-title">
                                        <!-- <span class="mat-title">{{globals.userDetails.firstname}} {{globals.userDetails.lastname}}</span> -->
                                    </mat-card-title>
                                    <!-- <mat-card-subtitle class="usermenu-card-header-subtitle">{{globals.userDetails.email}}</mat-card-subtitle> -->
                                </mat-card-header>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">

                            <div fxLayout="column" class="usermenu-options-container" fxFlex='100px' [routerLink]="['userdashboard']">
                                <i class="fa fa-user footer-icon fa-2x" aria-hidden="true" [ngStyle]="{'color': '#ff8a80'}"></i>
                                <span class="mat-body-2">{{"My Profile"}}</span>
                            </div>
                        </div>
                    </div>
                    <mat-card-actions align="end" class="usermenu-card-actions">
                        <button mat-raised-button color="primary" (click)="logout()">
                                <i class="fa fa-sign-out footer-icon " aria-hidden="true" style="font-size: 20px;"></i>
                                <span>Sign Out</span>
                              </button>
                    </mat-card-actions>
                </mat-card>
            </mat-menu>
        </div>
    </mat-toolbar>
</p>
<div fxLayout="row wrap" class="blogs-wrapper mat-elevation-z4" fxLayoutGap="20px">
    <div *ngFor="let item of blogs " class="search-items" fxLayoutGap="20px" ngClass.xs="search-items-xs">

        <mat-card fxLayout="column" class="grid-mat-card" ngClass.xs="grid-mat-card-xs">
            <img mdImgCard src="{{item.BlogImg }}" [style.xs]="{'height.px':325}">
            <mat-card-content fxLayout="column" fxLayoutGap="10px" class="grid-card-content">

                <div fxLayout="row" style="margin-top:20px">

                </div>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <h3 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><b> {{ (item.Title.length>20)? (item.Title | slice:0:20)+'..':(item.Title) }}</b></h3>
                        <span>{{item.Author}}</span>
                    </div>
                    <p style="overflow: hidden;text-overflow: ellipsis;" [innerHTML]="item.Description | stringlength:'200'"></p>

                </div>
                <div class="view-blog" fxLayoutAlign="end" style="padding-right:20px">
                    <button mat-raised-button color="accent" [routerLink]="['detail']" [state]="item">View Blog</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>