<!-- <div fxLayout="row" fxLayoutAlign="center start">
    <div class="sub-section-1" fxFlex="30" style="background:red" fxFlexOrder="2">One</div>
    <div class="sub-section-2" fxFlexAlign="baseline" fxFlex="70" fxFlexFill style="background:green" fxFlexOffset="20px" fxLayoutAlign="center"> Two</div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex="35" style="background:red"> Child - One </div>
    <div fxFlex="30" fxHide.lt-md style="background:blue"> Child - Two </div>
    <div fxFlex="35" fxFlex.lt-md="65" fxLayoutAlign="space-around center" style="background:orange">
        <div fxFlex="50" fxFlex.lt-lg="80" style="background:pink"> Sub-child - One</div>
    </div>
</div> -->
<app-loader></app-loader>
<router-outlet></router-outlet>