span.step-no {
    font-size: 12px;
    color: #2874f0;
    background-color: #f0f0f0;
    border-radius: 2px;
    padding: 3px 7px;
    vertical-align: baseline;
    margin-right: 3px;
    height: 25px;
    text-align: center;
}

.checkout-wrapper {
    margin: 10px;
    padding: 30px;
}

.col-left {
    margin-right: 15px;
}

.uname {
    color: #212121;
    font-weight: 500;
}

.step-name {
    color: #878787;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.step-name-2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.title-bar {
    height: 48px;
    text-transform: uppercase;
    color: #878787;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 24px;
    border-radius: 2px 2px 0 0;
    background: #eee;
}

.title-bar.active {
    background-color: #2874f0;
    color: #fff;
}

.address-lists {
    border-bottom: 1px solid #f0f0f0;
    padding: 20px;
    cursor: pointer;
}

.add-type {
    text-transform: uppercase;
    font-size: 11px;
    color: #878787;
    vertical-align: middle;
    padding: 4px 7px;
    border-radius: 2px;
    background-color: #f0f0f0;
    font-weight: 500;
    height: 27px;
}

.selected {
    background-color: #d2deeb;
}

.checkout-card {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

img.order-img {
    max-width: 100%;
    max-height: 100%;
}

span.strike {
    text-decoration: line-through;
}

.profit {
    color: green;
    font-weight: bold;
}

span.e-kart {
    transform: rotate(-11deg);
    position: absolute;
    left: 270px;
    background: #2727c7;
    color: #FFF;
    border-radius: 8px;
    padding: 0 10px;
}

.e-kart i {
    background: #aaaac3;
    border-radius: 50%;
    font-weight: bold;
    color: blueviolet;
}

.order-list {
    margin-bottom: 5px;
    padding: 10px;
}

.col-right mat-card-content {
    padding: 8px;
    font-size: 15px;
    color: #0c0c0c;
    font-weight: 500;
}


/* ...............place order button......................... */

.order-btn-div {
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 100%;
    text-align: right;
    margin-bottom: 10px !important;
}

.btn-div {
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
}

.order-btn {
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
}

.order-btn {
    padding: 16px 30px;
    min-width: 250px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.saved-card-lists {
    padding: 10px 0px;
}

.cards {
    padding: 10px 0px;
}

.card-options {
    padding-left: 30px;
}

.cards input,
.cards img {
    margin: 0px 10px;
}

.new-address mat-card {
    padding-top: 0;
}

mat-form-field {
    width: calc(50% - 20px);
    margin-right: 10px;
    margin-left: 10px;
}

input#UPIID {
    font-size: 14px;
    outline: none;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
}

.upi-text-verify {
    position: relative;
    width: 50%;
}

.verify {
    position: absolute;
    right: 16px;
    top: 5px;
    color: #2874f0;
    text-transform: uppercase;
    cursor: pointer;
}

.upiid-text {
    margin-top: 10px;
}